<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register or Log In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="container">
        <div class="box">
            <div class="boxContent">
                <form action="/validate_reg" , method="POST">
                    <h1>Register</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color:red">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password"><br>
                    <input type="submit" value="Register" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="box">
            <div class="boxContent">
                <form action="/login" method="POST">
                    <h1>Log in</h1>
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password"><br>
                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</body>

</html>